@import 'base/normalize';
@import 'base/variables';
@import 'base/mixins';
@import 'base/globales';
@import 'base/utilidades';
@import 'base/darkmode';

// UI
@import 'layout/footer';
@import 'layout/navegacion';
@import 'layout/header';
@import 'layout/iconos';
@import 'layout/anuncios';
@import 'layout/botones';
@import 'layout/contactar';
@import 'layout/inferior';
@import 'layout/testimonial';
@import 'layout/formulario';

// Paginas Internas
@import 'internas/admin';
@import 'internas/nosotros';